.poker_card {
	width: 100;
	height: 140;
}

.top_card {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-20%);
}

.right_card {
	position: absolute;
	right: -200px;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}

.bottom_card {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-20%);
}

.left_card {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}

.myTable {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	border: 1px solid #d3d3d3;
	position: relative;
}